<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlQrSEF7L8zc_wGU4sImxDE1plRa4Z4bk</string>
	<key>GCM_SENDER_ID</key>
	<string>667113600186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haotran.englishreflex</string>
	<key>PROJECT_ID</key>
	<string>reflex-english</string>
	<key>STORAGE_BUCKET</key>
	<string>reflex-english.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667113600186:ios:430bcf4e4586581b3ebe83</string>
</dict>
</plist>